.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

.navbar ul{
    display: flex;
    gap: 20px;
    font-weight: 600;
}

.navbar h2,
.navbar li{
    color: #fff;
    cursor: pointer;
}

.navbar li:hover{
    color: #ff7373;
}